.App {
  text-align: center;
}
.item {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn{
  background-color: blue;
  color: white;
}
.btn2{
  background-color: green;
  color: white;
  margin-top: 20px
}